//

theme "default"
themes {
    default {
        fg "#F8F8F2"
        bg "#44475A"
        black "#21222C"
        red "#FF5555"
        green "#50FA7B"
        yellow "#F1FA8C"
        blue "#BD93F9"
        magenta "#FF79C6"
        cyan "#8BE9FD"
        white "#F8F8F2"
        orange "#FFB86C"
    }
}

auto_layout true
copy_clipboard "system"
copy_on_select true
default_layout "default-custom"
disable_session_metadata false
mirror_session true
mouse_mode true
on_force_close "detach"
pane_frames true
scrollback_lines_to_serialize 10000
scroll_buffer_size 10000
serialize_pane_viewport true
session_serialization true
simplified_ui true
styled_underlines true

