################
# Excluded 
################

# Git
CLI/git.symc/userinfo

# Powershell Default Modules/Scripts Folder
CLI/powershell.symc/Modules/*
CLI/powershell.symc/Scripts/*

# Vim
CLI/vim.symc/backups/*
CLI/vim.symc/plugged/*
CLI/vim.symc/swaps/*
CLI/vim.symc/undo/*

# VSCode Trash
.vscode

################
# Exceptions
################

# Vim
!CLI/vim.symc/backups/.gitkeep
!CLI/vim.symc/plugged/.gitkeep
!CLI/vim.symc/swaps/.gitkeep
!CLI/vim.symc/undo/.gitkeep
