################
# Excluded
################

# Bash
CLI/bash.symc/local.d/*

# Git
CLI/git.symc/userinfo

# Powershell Default Modules/Scripts Folder
CLI/powershell.symc/Modules/*
CLI/powershell.symc/Scripts/*

# Vim
CLI/vim.symc/backups/*
CLI/vim.symc/plugged/*
CLI/vim.symc/swaps/*
CLI/vim.symc/undo/*

# Tmux
CLI/tmux.symc/plugins/*

# VSCode Trash
.vscode

################
# Exceptions
################

# Bash
!CLI/bash.symc/local.d/.gitkeep

# Vim
!CLI/vim.symc/backups/.gitkeep
!CLI/vim.symc/plugged/.gitkeep
!CLI/vim.symc/swaps/.gitkeep
!CLI/vim.symc/undo/.gitkeep

# Tmux
!CLI/tmux.symc/plugins/.gitkeep

